@model WebApplication.Models.DepartmentModel

@{
    ViewBag.Title = "Class Master";
    ViewBag.SubTitle = "Add New";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Department Master</a></li>
            <li><a href="#">    @ViewBag.SubTitle</a></li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Department Masrer</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index","DepartmentMaster")'">Back To List</button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            @Html.Partial("_Alerts")
                            @using (Html.BeginForm("Create", "DepartmentMaster", FormMethod.Post, htmlAttributes: new { Id = "Entry-form", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="col-md-8">
                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Name <span class="text-red">*</span> </label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.Name)
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Sort Id <span class="text-red">*</span> </label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.SortId)
                                                @Html.ValidationMessageFor(model => model.SortId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-4 col-md-8">
                                                <input type="submit" value="Save" id="save" class="btn bg-olive btn-flat margin" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/Admin/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Content/Admin/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script>
                 $(document).ready(function () {

        $('#Entry-form').submit(function () {

            if ($('#Entry-form').valid()) {
                $('#save').prop('disabled', true);
            }
        });
    </script>
}