@model WebApplication.Models.TransferCertificateModel

@{
    ViewBag.Title = "Transfer Certificate";
    ViewBag.SubTitle = "Detail";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Transfer Certificate</a></li>
            <li><a href="#">@ViewBag.SubTitle</a></li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Transfer Certificate</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit","TransferCertificate",new {Id=Model.Id })'">Edit</button>
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index","TransferCertificate")'">Back To List</button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            @Html.Partial("_Alerts")

                            <div class="col-md-8">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Class <span class="text-red">*</span> </label>
                                        <div class="col-md-6">
                                            <p class="form-control-static">@Model.ClassName</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Student Name <span class="text-red">*</span> </label>
                                        <div class="col-md-6">
                                            <p class="form-control-static">@Model.StudentName</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Admission Number <span class="text-red">*</span> </label>
                                        <div class="col-md-6">
                                            <p class="form-control-static">@Model.AdmissionNumber</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">File <span class="text-red">*</span> </label>
                                        <div class="col-md-6">
                                            <p class="form-control-static"><a href="~/Content/files/downloads/@Model.FileName">Download</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->