@model WebApplication.Models.PageModel

@section seo
{
    <meta name="description" content="@Model.MetaDescription">
    <meta name="keywords" content="@Model.MetaKeywords">
}
<style>
    th {
        font-size: 14px;
        font-weight: 500;
        background-color: #c40e05;
        border: 1px solid #e9ecef;
        color: white;
    }

    td {
        font-size: 14px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th {
        text-align: left;
        border: 1px solid #e9ecef;
        padding: 1em;
    }
</style>
<!--============================
        About Page Header
    =============================-->
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>@Model.Title</h1>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active">@Model.Title</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Ends: .page-header -->
<!--============================
        About Page Content
    =============================-->
<section class="about-ds">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 ">
                @Html.Partial("~/Areas/Client/Views/AboutUs/_AboutUsSidebar.cshtml", 3)

            </div>
            <div class="col-md-9 col-sm-6">
                <div class="wpb_wrapper">
                    <span style="float:right; font-size:16px;">APPENDIX - IX</span>
                    <div style="text-align:center; font-size:18px;">MANDATORY PUBLIC DISCLOSURE</div>
                    <div style="text-align:left;">A: <span><u>GENERAL INFORMATION:</u></span></div>
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>
                                    S.NO.
                                </th>
                                <th>
                                    INFORMATION
                                </th>
                                <th>
                                    DETAILS
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    NAME OF THE SCHOOL
                                </td>
                                <td>
                                    HVM CONVENT SCHOOL
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    AFFILIATION NO.(IF APPLICABLE)
                                </td>
                                <td>
                                    1630652
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    SCHOOL CODE (IF APPLICABLE)
                                </td>
                                <td>
                                    20632
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    COMPLETE ADDRESS WITH PIN CODE
                                </td>
                                <td>
                                    KARAMSAR COLONY, NEW SUBASH NAGAR, NEAR BASTI JODHEWAL, LUDHIANA 141007
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5
                                </td>
                                <td>
                                    PRINCIPAL NAME &amp; QUALIFICATION:
                                </td>
                                <td>
                                    SUNITA KUMARI, M.A. M.Ed.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    6
                                </td>
                                <td>
                                    SCHOOL EMAIL ID
                                </td>
                                <td>
                                    <a href="mailto:hvmconvent@gmail.com">hvmconvent@gmail.com</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    7
                                </td>
                                <td>
                                    CONTACT DETAILS (LANDLINE/MOBILE)
                                </td>
                                <td>
                                    9815098888, 9464098888
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align:left;">B: <span><u>DOCUMENTS AND INFORMATION:</u></span></div>
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>
                                    S.NO.
                                </th>
                                <th>
                                    DOCUMENTS/INFORMATION
                                </th>
                                <th>
                                    UPLOAD DOCUMENTS
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    COPIES OF AFFILIATION/UPGRADATION LETTER AND RECENT EXTENSION OF AFFILIATION, IF ANY
                                </td>
                                <td>
                                    <a href="Content/files/mandatory-disclosure/AffiliationLetter (Sr No.1).pdf" target="_blank">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    COPIES OF SOCIETIES/TRUST/COMPANY REGISTRATION/RENEWAL CERTIFICATE, AS APPLICABLE
                                </td>
                                <td>
                                    <a href="Content/files/mandatory-disclosure/Society Certificate (Sr. No. 2).jpg" target="_blank">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    COPY OF NO OBJECTION CERTIFICATE (NOC) ISSUED, IF APPLICABLE, BY THE STATE GOVT./UT
                                </td>
                                <td>
                                    <a href="Content/files/mandatory-disclosure/NOC    (Sr. No. 3).pdf" target="_blank">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    COPIES OF RECOGNITION CERTIFICATE UNDER RTE ACT, 2009, AND IT’S RENEWAL IF APPLICABLE
                                </td>
                                <td>
                                    <a href="Content/files/mandatory-disclosure/RTE   (Sr. No. 4).pdf" target="_blank">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5
                                </td>
                                <td>
                                    COPY OF VALID BUILDING SAFETY CERTIFICATE AS PER THE NATIONAL BUILDING CODE
                                </td>
                                <td>
                                    <a href="Content/files/mandatory-disclosure/Building Safety Certificate  (Sr. No. 5).pdf" target="_blank">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    6
                                </td>
                                <td>
                                    COPY OF VALID FIRE SAFETY CERTIFICATE ISSUED BY THE COMPETENT AUTHORITY
                                </td>
                                <td>
                                    <a href="Content/files/mandatory-disclosure/Fire Safety Certificate  (Sr. No. 6).jpg" target="_blank">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    7
                                </td>
                                <td>
                                    COPY OF THE DEO CERTIFICATE SUBMITTED BY THE SCHOOL FOR AFFILIATION/UPGRADATION/EXTENSION OF AFFILIATIONOR SELF CERTIFICATION BY SCHOOL
                                </td>
                                <td>
                                    <a href="Content/files/mandatory-disclosure/DEO Certificate001.zip" target="_blank">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    8
                                </td>
                                <td>
                                    COPIES OF VALID WATER, HEALTH AND SANITATION CERTIFICATES
                                </td>
                                <td>
                                    <a href="Content/files/mandatory-disclosure/Health & sanitation  (Sr. No. 8).pdf" target="_blank">View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align:left;">C: <span><u>RESULT AND ACADEMICS:</u></span></div>
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>
                                    S.NO.
                                </th>
                                <th>
                                    DOCUMENTS/INFORMATION
                                </th>
                                <th>
                                    UPLOAD DOCUMENTS
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    FEE STRUCTURE OF THE SCHOOL
                                </td>
                                <td>
                                    <a href="Content/files/mandatory-disclosure/HVM CONVENT SCHOOL FEE STRUCTURE.docx" target="_blank">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    ANNUAL ACADEMIC CALANDER.
                                </td>
                                <td>
                                    <a href="Content/files/mandatory-disclosure/HVM Annual Planner 2021-22.pdf" target="_blank">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    LIST OF SCHOOL MANAGEMENT COMMITTEE (SMC)
                                </td>
                                <td>
                                    <a href="Content/files/mandatory-disclosure/School Managing Committee Details.pdf" target="_blank">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    LIST OF PARENTS TEACHERS ASSOCIATION (PTA) MEMBERS
                                </td>
                                <td>
                                    <a href="#" target="_blank">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5
                                </td>
                                <td>
                                    LAST THREE-YEAR RESULT OF THE BOARD EXAMINATION AS PER APPLICABLILITY
                                </td>
                                <td>
                                    <a href="#" target="_blank">View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align:left;">RESULT CLASS: X</div>
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>
                                    S.NO.
                                </th>
                                <th>
                                    YEAR
                                </th>
                                <th>
                                    NO. OF REGISTERED STUDENTS
                                </th>
                                <th>
                                    NO. OF STUDENTS PASSED
                                </th>
                                <th>
                                    PASS PERCENTAGE
                                </th>
                                <th>
                                    REMARKS
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    2017-18
                                </td>
                                <td>
                                   124
                                </td>
                                <td>
                                    124
                                </td>
                                <td>
                                    100%
                                </td>
                                <td>
                                    Excellent
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    2018-19
                                </td>
                                <td>
                                    115
                                </td>
                                <td>
                                    115
                                </td>
                                <td>
                                    100%
                                </td>
                                <td>
                                    Excellent
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    2019-20
                                </td>
                                <td>
                                    131
                                </td>
                                <td>
                                   131
                                </td>
                                <td>
                                    100%
                                </td>
                                <td>
                                    Excellent
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align:left;">RESULT CLASS: XII</div>
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>
                                    S.NO.
                                </th>
                                <th>
                                    YEAR
                                </th>
                                <th>
                                    NO. OF REGISTERED STUDENTS
                                </th>
                                <th>
                                    NO. OF STUDENTS PASSED
                                </th>
                                <th>
                                    PASS PERCENTAGE
                                </th>
                                <th>
                                    REMARKS
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    2017-18
                                </td>
                                <td>
                                    107
                                </td>
                                <td>
                                    107
                                </td>
                                <td>
                                    100%
                                </td>
                                <td>
                                    Excellent
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    2018-19
                                </td>
                                <td>
                                    101
                                </td>
                                <td>
                                    101
                                </td>
                                <td>
                                    100%
                                </td>
                                <td>
                                    Excellent
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    2019-20
                                </td>
                                <td>
                                    138
                                </td>
                                <td>
                                    138
                                </td>
                                <td>
                                    100%
                                </td>
                                <td>
                                    Excellent
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align:left;">D: <span><u>STAFF (TEACHING)</u></span></div>
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>
                                    S.NO.
                                </th>
                                <th>
                                    INFORMATION
                                </th>
                                <th>
                                    DETAILS
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    PRINCIPAL
                                </td>
                                <td>
                                    01
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="4">
                                    2
                                </td>
                                <td>
                                    TOTAL NO. OF TEACHERS
                                </td>
                                <td>
                                    87
                                </td>
                            </tr>
                            <tr><td>PGT</td><td>15</td></tr>
                            <tr><td>TGT</td><td>23</td></tr>
                            <tr><td>PRT</td><td>22</td></tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    TEACHERS SECTION RATIO
                                </td>
                                <td>
                                    1:5
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    DETAILS OF SPECIAL EDUCATOR
                                </td>
                                <td>
                                    01
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5
                                </td>
                                <td>
                                    DETAILS OF COUNSELLOR AND WELNESS TEACHER
                                </td>
                                <td>
                                    01
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align:left;">E: <span><u>SCHOOL INFRASTRUCTURE:</u></span></div>
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>
                                    S.NO.
                                </th>
                                <th>
                                    INFORMATION
                                </th>
                                <th>
                                    DETAILS
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    TOTAL CAMPUS AREA OF THE SCHOOL (IN SQUARE MTR)
                                </td>
                                <td>
                                    7911.60 Sq.mts.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    NO. AND SIZE OF THE CLASS ROOMS (IN SQ MTR)
                                </td>
                                <td>
                                    55 (27500 Sq.mts.)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    NO. AND SIZE OF LABORATORIES INCLUDING COMPUTER LABS (IN SQ MTR
                                </td>
                                <td>
                                    08 (1000 Sq.mts., 500 Sq.mts.)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    INTERNET FACILITY (Y/N)
                                </td>
                                <td>
                                    Yes
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5
                                </td>
                                <td>
                                    NO. OF GIRLS TOILETS
                                </td>
                                <td>
                                    41
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    6
                                </td>
                                <td>
                                    NO. OF BOYS TOILETS
                                </td>
                                <td>
                                    43
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    7
                                </td>
                                <td>
                                    LINK OF YOUTUBE VIDEO OF THE INSPECTION OF SCHOOL COVERING THE INFRASTRUCTURE OF THE SCHOOL
                                </td>
                                <td>
                                    <a href="http://hvmsrsecschool.org/school-virtual-tour" target="_blank">View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <link rel="stylesheet" href="~/Content/Client/js/tabs/style.css">
    <script src="~/Content/Client/js/tabs/index.js"></script>
}