@model WebApplication.Models.PageModel

@section seo
{
    <meta name="description" content="@Model.MetaDescription">
    <meta name="keywords" content="@Model.MetaKeywords">
}
<style>
    .our-infrastruture {
        margin: 0px auto;
        position: relative;
        width: 370px;
        height: 270px;
        /*padding: 10px;*/
        margin-left :15px;
        /*box-shadow: 0 0 20px rgba(0,0,0,0.4);*/
    }

        .our-infrastruture > div {
            position: absolute;
            top: 0px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }
</style>
<script type="text/javascript">

</script>
<!--============================
        About Page Header
    =============================-->
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>@Model.Title</h1>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active">@Model.Title</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Ends: .page-header -->
<!--============================
        About Page Content
    =============================-->
<section class="about-ds">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 ">
                @Html.Partial("~/Areas/Client/Views/Shared/_FaculitySidebar.cshtml", 7)
            </div>
            <div class="col-md-9 col-sm-6 about-ds-content">
                <h2>Library</h2>

                <div class="infrastructure_img our-infrastruture" id="library">
                    <div>
                        <img class="img-responsive border" src="~/Content/Client/OurInfrastructure/Library/1.JPG" />
                    </div>
                    <div>
                        <img class="img-responsive border" src="~/Content/Client/OurInfrastructure/Library/2.JPG" />
                    </div>
                    <div>
                        <img class="img-responsive border" src="~/Content/Client/OurInfrastructure/Library/3.JPG" />
                    </div>
                </div>

                <p class="justify">
                    A school library is a structure within the school that houses a collection of books, Middle and High School with 300 volumes of encyclopedias & more than 12000 books.
                    <br /><br />
                    All the students visit library as per their classroom visit schedule. Library cards are to be carried to visit library. Our librarian is very helpful in locating and selecting books as per our needs. We are allowed to borrow one book at a time and the records for the same are maintained by the librarian. We need to ensure that the books are not damaged by us and are returned on time.
                </p>

                <div class="clear h10">&nbsp;</div>

                <div class="dashed">&nbsp;</div>

                <div class="clear h20">&nbsp;</div>

                <h2>Science Laboratories</h2>

                <div class="infrastructure_img our-infrastruture" id="SciLab">
                    <div>
                        <img  class="img-responsive border"  src="~/Content/Client/OurInfrastructure/Sciencelab/1.JPG" />
                    </div>
                    <div>
                        <img  class="img-responsive border"  src="~/Content/Client/OurInfrastructure/Sciencelab/2.JPG" />
                    </div>
                    <div>
                        <img  class="img-responsive border"  src="~/Content/Client/OurInfrastructure/Sciencelab/3.JPG" />
                    </div>
                </div>

                <p class="justify">
                    Multi-purpose science labs that can support different disciplines are important. Biology, chemistry, physics – these subjects require different materials, facilities and teaching methods, and therefore have different requirements for a laboratory environment.
                    <br /><br />
                    Lightweight furnishings and non-fixed pieces of equipment can help create a flexible classroom which can be altered and changed before or during a lesson. As curriculums and class sizes continue to change and grow, it is important that all science laboratories can accommodate this.
                </p>

                <div class="clear h10">&nbsp;</div>

                <div class="dashed">&nbsp;</div>

                <div class="clear h20">&nbsp;</div>

                <h2>Class Rooms</h2>

                <div class="infrastructure_img our-infrastruture" id="Classroom">
                    <div>                        
                        <img class="img-responsive border" src="~/Content/Client/OurInfrastructure/ClassRoom/1.JPG" />
                    </div>
                    <div>
                        <img class="img-responsive border" src="~/Content/Client/OurInfrastructure/ClassRoom/2.JPG" />
                    </div>
                    <div>
                        <img class="img-responsive border" src="~/Content/Client/OurInfrastructure/ClassRoom/3.JPG" />
                    </div>
                </div>

                <p class="justify">Our classroom is a learning space, a room in which both children and adults learn. Our Classrooms are found in educational institutions of all kinds, ranging from preschools to universities, and may also be found in other places where education or training is provided, such as corporations and religious and humanitarian organizations. The classroom provides a space where learning can take place uninterrupted by outside distractions.</p>

                <div class="clear h10">&nbsp;</div>

                <div class="dashed">&nbsp;</div>

                <div class="clear h20">&nbsp;</div>

                <h2>Computer Labs</h2>

                <div class="infrastructure_img our-infrastruture" id="CompLab">
                    <div>
                        <img class="img-responsive border" src="~/Content/Client/OurInfrastructure/ComLab/1.JPG" />
                    </div>
                    <div>
                        <img class="img-responsive border" src="~/Content/Client/OurInfrastructure/ComLab/2.JPG" />
                    </div>                    
                </div>

                <p class="justify">
                    Our school computer lab have 250 computers for our students! Students have the opportuinity to visit our computer lab with their classroom each week. Students practice typing, complete digital media projects and participate in supplemental Language Arts and Math programs in the computer lab. In addition, our computer lab is used daily as part of our grade level intervention block. Student instruction is differentiated during intervention block and the computer lab is used as a resource to support student achievement during this time.

                </p>

                <div class="clear h10">&nbsp;</div>

                <div class="dashed">&nbsp;</div>

                <div class="clear h20">&nbsp;</div>

                <h2>Smart-Classrooms</h2>

                <div class="infrastructure_img our-infrastruture" id="SmartClass">
                    <div>
                        <img class="img-responsive border" src="~/Content/Client/OurInfrastructure/SmartClass/1.JPG" />
                    </div>
                    <div>
                        <img class="img-responsive border" src="~/Content/Client/images/e-classrooms.jpg" />
                    </div>
                </div>

                <p class="justify">
                    To empower teachers and students with technology and provide them multisensory teaching-learning experience, the smart class program is being implemented. The school has taken a digital initiative with own projector and other smart equipments to supplement its smart class infrastructure. Difficult concepts are made real with rich visual and audio presentations.
                </p>

                <div class="clear h10">&nbsp;</div>

                <div class="dashed">&nbsp;</div>

                <div class="clear h20">&nbsp;</div>

                <h2>Physical Culture</h2>

                <div class="infrastructure_img our-infrastruture" id="PhyCul">
                    <div>
                        <img class="img-responsive border" src="~/Content/Client/OurInfrastructure/PhyCul/1.JPG" />
                    </div>
                    <div>
                        <img class="img-responsive border" src="~/Content/Client/OurInfrastructure/PhyCul/2.JPG" />
                    </div>
                    <div>
                        <img class="img-responsive border" src="~/Content/Client/OurInfrastructure/PhyCul/3.JPG" />
                    </div>
                </div>

                <p class="justify">
                    Physical culture at HVM develops the spirit of sportsmanship, co-operation, team-spirit and courage. They strengthen the physique and inculcate the feelings caring and sharing. The emphasis is on &lsquo;Sports for all&rsquo;.<br />
                    <br />
                    The school boasts of the requisite infrastructure for the pursuit of outdoor games like Basketball, Volleyball, Badminton, Athletics, Kho-Kho, Cricket, Handball and Football; indoor games like chess, Carom and Table-Tennis. The school organizes Annual athletic meet and participates in various Inter-school competitions at Zonal, State and National level.
                </p>

                <div class="clear h20">&nbsp;</div>

                <div class="dashed">&nbsp;</div>

                @*@Html.Raw(Model.Contents)*@
            </div>
        </div>
    </div>
</section>