@using WebApplication.Infrastructure
@using System.Linq
@{
    bool authenticate = Request.RequestContext.HttpContext.User.IsInRole("Admin");
    var dbContext = Context.GetContainer().GetInstance<WebApplication.Service.ICommonService>();

    var sessionList = dbContext.GetGellerySessionList();

}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    @RenderSection("seo", required: false)

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HVM Convent Sr. Sec. School</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/Client/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/Client/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/Client/css/assets/bootstrap.min.css">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="~/Content/Client/css/assets/normalize.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/Client/css/font-awesome.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Content/Client/css/assets/owl.carousel.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/Client/css/assets/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Content/Client/css/assets/animate.css">
    <!-- Mean Menu -->
    <link rel="stylesheet" href="~/Content/Client/css/assets/meanmenu.css">
    <!-- Revolution Slider -->
    <link rel="stylesheet" href="~/Content/Client/css/assets/revolution/layers.css">
    <link rel="stylesheet" href="~/Content/Client/css/assets/revolution/navigation.css">
    <link rel="stylesheet" href="~/Content/Client/css/assets/revolution/settings.css">
    <link rel="stylesheet" href="~/Content/Client/css/assets/revolution/revicons/revicons.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500%7CRoboto+Slab:300,500,400,700" rel="stylesheet">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="~/Content/Client/css/assets/slick.css">
    <link rel="stylesheet" href="~/Content/Client/css/style.css">
    <link rel="stylesheet" href="~/Content/Client/css/assets/responsive.css">
    <!-- CSS FOR DEMO - NOT INCLUDED IN MAIN FILES -->
    @*<link rel="stylesheet" href="demo/demo.css">*@
    <link href="~/Content/Client/css/style-nav.css" rel="stylesheet" type="text/css" />


</head>
<body>
    <!--==================
            Header
        ===================-->
    @if (authenticate)
    {
        <div style="width:100%;height:25px;background-color:#cc9c16">
            <p style="text-align:center"><a href="/admin">Admin</a></p>
        </div>
    }
    <header id="header-style02" class="header-style04" style="top:@(authenticate?"30px":"3px")">
        <!-- Header Top -->
        <div class="header-logo">
            <div class="container">
                <div class="row">
                    <div id="logo" class="col-sm-6"><a href="@Url.Action("Index","Home")"><img src="~/Content/Client/images/logo.png" class="img-responsive"></a></div>
                    <div class="col-sm-4"></div>                
    @*<div class="col-sm-4 paymeny-link"><a target="_blank" href="https://smarthubeducation.hdfcbank.com/SmartFees/Landing.action?instId=5687">
    <span>Online Fee Payment through HDFC <img src="~/Content/Client/images/hdfc.png" /></span>
   </a></div>*@
                    <div class="col-sm-2">
                        <div class="widget-content social-icon-t">
                            <ul class="list-unstyled" style="display:inline;">
                                <li style="display:inline; margin-left:7px;"><a href="https://www.facebook.com/hvmians" target="_blank"><img src="~/Content/Client/images/facebook.png"></a></li>
                                <li style="display:inline; margin-left:7px;"><a href="https://twitter.com/HVM90413322" target="blank" class=""><img src="/Content/Client/images/twitter.png"></a></li>
                                <li style="display:inline; margin-left:7px;"><a href="https://www.youtube.com/channel/UClWtmVXMpiAjqqMnF2zLALw"><img src="~/Content/Client/images/youtube.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ends: .header-top -->
        <div class="main-menu">
            <div class="container">
                <div class="row">
                    <!-- Main Menu -->
                    <div class="col-sm-12">
                        <nav class="navbar" id="main-nav">
                            <div class="containers">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#edulight-navbar-collapse" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                    <!-- Change Logo Here -->
                                </div>
                                <!-- End .navbar-header -->
                                <div class="collapse navbar-collapse" id="edulight-navbar-collapse">
                                    <ul class="nav navbar-nav">
                                        @*<li><a href="@Url.Action("Index","Home")">Home</a></li>*@
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-submenu">
                                                    <a href="#">HVM Management</a> <i class="fa fa-angle-right"></i>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="@Url.Action("ExecutiveMembers","AboutUs")">Executive Members</a></li>
                                                        <li><a href="@Url.Action("ManagementMembers","AboutUs")">Management Members</a></li>
                                                    </ul>
                                                </li>
                                                @*<li><a href="@Url.Action("OriginsHistory","AboutUs")">Origins & History</a></li>*@
                                                @*<li class="dropdown-submenu">
                                                    <a href="#">Messages</a> <i class="fa fa-angle-right"></i>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="@Url.Action("ChairmanMassage","AboutUs")">Chairman's Message</a></li>
                                                        <li><a href="@Url.Action("PresidentMassage","AboutUs")">President's Message</a></li>
                                                        <li><a href="@Url.Action("ChairpersonMassage","AboutUs")">Chairperson's Message</a></li>
                                                        <li><a href="@Url.Action("DirectorMassage","AboutUs")">Director's Message</a></li>
                                                        <li><a href="@Url.Action("PrincipalMassage","AboutUs")">Principal's Message</a></li>
                                                    </ul>
                                                </li>*@
                                                <li><a href="@Url.Action("VisionMission","AboutUs")">Vision, Mission, Motto</a></li>
                                                <li><a href="@Url.Action("MandatoryDisclosure","AboutUs")">Mandatory Disclosure</a></li>
                                                @*<li><a href="@Url.Action("CourseOffered","AboutUs")">Course Offered</a></li>*@
                                                <li><a href="@Url.Action("AffiliationCBSE","AboutUs")">Affiliation to CBSE</a></li>

                                                @*<li><a href="@Url.Action("FacultyDetails","AboutUs")">Staff Details</a></li>
        <li><a href="@Url.Action("OurInfrastructure","AboutUs")">Our Infrastructure</a></li>
        <li><a href="@Url.Action("OurFacilities","AboutUs")">Our Facilities</a></li>
        <li><a href="@Url.Action("OurRules","AboutUs")">Our Rules</a></li>*@
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Faculties & Facilities</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("AdmissionRule","Admission")">Admission Rules</a></li>
                                                <li><a href="@Url.Action("FeeStructure","Admission")">Fee Structure</a></li>
                                                <li><a href="@Url.Action("TransferCertificate","Student")">Transfer Certificate</a></li>
                                                <li><a href="@Url.Action("FacultyDetailsNew","AboutUs")">Teachers</a></li>
                                                <li><a href="@Url.Action("OnRoll","Student")">Student Strength</a></li>
                                                <li><a href="@Url.Action("CourseOffered","AboutUs")">Course Offered</a></li>
                                                <li><a href="@Url.Action("OurInfrastructure","AboutUs")">Infrastructure</a></li>
                                                <li><a href="@Url.Action("CouselingServices","AboutUs")">Counseling Services</a></li>
                                            </ul>
                                        </li>
                                        <!-- End Teacher -->
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Curriculum</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-submenu">
                                                    <a href="#">Academic Curriculum</a> <i class="fa fa-angle-right"></i>
                                                                                        <ul class="dropdown-menu">                                                                                            
                                                                                            <li><a href="@Url.Action("TimeTable","Circulars")">Time Table</a></li>
                                                                                            <li><a href="@Url.Action("DateSheet","Academics")">Date Sheet</a></li>
                                                                                            <li><a href="@Url.Action("EvaluationWeightage","Circulars")">Evaluation Weightage</a></li>
                                                                                            <li><a href="@Url.Action("SchoolDiary","Circulars")">School Diary</a></li>
                                                                                            <li><a href="@Url.Action("CodeOfConductForStudent","Circulars")">Code of Conduct for Student</a></li>
                                                                                            <li><a href="@Url.Action("ListOfBooks","Circulars")">List of Books</a></li>
                                                                                            <li><a href="@Url.Action("ListOfHolidays","Circulars")">List of Holidays</a></li>
                                                                                            <li><a href="@Url.Action("TeachingMethodology","Circulars")">Teaching Methodology</a></li>
                                                                                            <li><a href="@Url.Action("SmartLearning","Circulars")">Smart learning</a></li>
                                                                                            <li><a href="@Url.Action("Syllabus","Circulars")">Syllabus</a></li>
                                                                                            <li><a href="@Url.Action("PTMSchedule","Circulars")">PTM Schedule</a></li>
                                                                                        </ul>
                                                </li>
                                                <li><a href="@Url.Action("CoCurricularActivites","Circulars")">Co-Curricular Activities</a></li>
                                            </ul>
                                        </li>
                                        <!-- End Pages -->
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Achivement</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Result","Academics")">Result</a></li>
                                                <li><a href="@Url.Action("InterSchoolPrizes","Achievements")">Inter School Prizes</a></li>
                                                <li><a href="@Url.Action("Sports","Student")">Sports</a></li>
                                                <li><a href="@Url.Action("HubLearningActivities","Achievements")">Hub Of Learning Activities</a></li>
                                                @*<li><a href="@Url.Action("Sports","Student")">Sports</a></li>
                                                <li><a href="@Url.Action("ActivitiesEvents","Student")">Activities & Events</a></li>
                                                <li><a href="@Url.Action("OnRoll","Student")">On Roll</a></li>
                                                <li><a href="@Url.Action("Download","Student")">Download</a></li>*@
                                            </ul>
                                        </li>
                                        <!-- End Pages -->
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Circulars</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="http://cbse.nic.in/newsite/index.html" target="_blank">C.B.S.E. Circulars</a></li>
                                                <li><a href="@Url.Action("SchoolCirculars","Circulars")">School Circulars</a></li>
                                                @*<li class="dropdown-submenu">
                                                    <a href="#">Photo</a> <i class="fa fa-angle-right"></i>
                                                    <ul class="dropdown-menu">
                                                    @foreach (var item in sessionList)
                                                    {
                                                        <li><a href="@Url.Action("SessionPhotoGallery", "Gallery", new { session=item.Name})">Session @item.Name </a></li>
                                                    }
                                                    <li><a href="@Url.Action("PhotoSession2018","Gallery")">Session 2016-17</a></li>
                                                    <li><a href="/Client/Gallery/Index">Session 2016-17</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="">Gallery And Press Release</a></li>
                                                <li>
                                                    <a href="@Url.Action("SchoolVirtualTour","Gallery")">School Virtual Tour</a>
                                                </li>*@
                                            </ul>
                                        </li>
                                        <!-- end gallery -->
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery</a>
                                            <ul class="dropdown-menu">
                                                @*<li><a href="">Gallery And Press Release</a></li>*@
                                                <li class="dropdown-submenu">
                                                    <a href="#">Gallery</a> <i class="fa fa-angle-right"></i>
                                                    <ul class="dropdown-menu">
                                                        @foreach (var item in sessionList)
                                                        {
                                                            <li><a href="@Url.Action("SessionPhotoGallery", "Gallery", new { session=item.Name})">Session @item.Name </a></li>
                                                        }
                                                        @*<li><a href="@Url.Action("PhotoSession2018","Gallery")">Session 2016-17</a></li>
                                                        <li><a href="/Client/Gallery/Index">Session 2016-17</a></li>*@
                                                    </ul>
                                                </li>
                                                <li><a href="/photos/2022-23/147">Press Release</a></li>
                                                <li>
                                                    <a href="@Url.Action("SchoolVirtualTour","Gallery")">School Virtual Tour</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Downloads</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("AdmissionForm","Admission")">Admission Form</a></li>
                                                <li><a href="#">Recruitment Form</a></li>
                                                @*<li><a href="@Url.Action("Download","Student")">Download</a></li>*@
                                            </ul>
                                        </li>
                                        <!-- End Contact -->
                                        @*<li><a href="">Kindergarten</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academics</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="@Url.Action("DateSheet","Academics")">Date Sheet</a></li>
                                                    <li><a href="@Url.Action("Schedule","Academics")">Schedule</a></li>
                                                    <li><a href="@Url.Action("Result","Academics")">Result</a></li>
                                                </ul>
                                            </li>*@
                                        <!-- End Contact -->
                                        <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                                    </ul>
                                </div>
                                <!-- .navbar-collapse -->
                            </div>
                            <!-- .container -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ends: .main-menu -->
    </header>
    <!-- ends: Header -->
    <!--==================
            Slider
        ===================-->

    @RenderBody()
    <!--==================
            Footer
        ===================-->
    <footer class="footer-style03">
        <div class="container">
            <div class="row">
                <!-- ends: .col-sm-3 -->
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="widget links">
                        <div class="widget-title">
                            <h2>Useful Links</h2>
                        </div>
                        <div class="widget-content">
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                <li><a href="@Url.Action("Sports","Students")">About Us</a></li>
                                <li><a href="@Url.Action("CourseOffered","AboutUs")">Course Offered</a></li>
                                <li><a href="@Url.Action("OurInfrastructure","AboutUs")">Our Infrastructure</a></li>
                                <li>@*<a href="@Url.Action("OurFacilities","AboutUs")">Our Facilities</a>*@</li>
                                <li><a href="@Url.Action("AdmissionRules","Admission")">Admission Rules</a></li>
                                @*<li><a href="@Url.Action("FeeStructure","Admission")">Fee Structure</a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ends: .col-sm-3 -->
                <div class="col-sm-3 col-md-3 col-lg-2">
                    <div class="widget links">
                        <div class="widget-title">
                            <h2>&nbsp;</h2>
                        </div>
                        <div class="widget-content">
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("SchoolVirtualTour","Gallery")">Virtual Tour</a></li>
                                <li><a href="@Url.Action("PressMedia","Home")">Press & Release</a></li>
                                <li><a href="@Url.Action("Download","Student")">Download</a></li>
                                @*<li><a href="#">Kindergarten</a></li>*@
                                <li><a href="@Url.Action("DateSheet","Academics")">Date Sheet</a></li>
                                <li><a href="@Url.Action("Schedule","Academics")">Schedule</a></li>
                                <li><a href="@Url.Action("Result","Academics")">Result</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ends: .col-sm-3 -->
                <div class="col-sm-5 col-md-3 col-lg-3">
                    <div class="widget about-widget">
                        <div class="widget-title">
                            <h2>Contact Us</h2>
                        </div>
                        <div class="widget-content">
                            <h3 style="color:#FFFFFF; text-transform:capitalize; font-weight:normal;">HVM Convent Sr. Sec. School</h3>
                            <ul class="list-unstyled">
                                <li>Karamsar Colony, New Subash Nagar, Ludhiana, Punjab.</li>
                                <li><i class="fa fa-phone"></i> 94640-98888</li>
                                <li><i class="fa fa-phone"></i> 98150-98888</li>
                                <li><i class="fa fa-envelope"></i> hvmconvent@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <!-- ends: .widget -->
                </div>
                <div class="col-sm-5 col-md-3 col-lg-4">
                    <div class="widget subscribe">
                        <div class="widget-title">
                            <h2>Photo Gallery</h2>
                        </div>
                        <div class="widget-content">
                            <ul class="sidebar-gallery">
                                <li><a href="photogallery.aspx"><img src="~/Content/Client/images/thumb-1.jpg" alt=""></a></li>
                                <li><a href="photogallery.aspx"><img src="~/Content/Client/images/thumb-2.jpg" alt=""></a></li>
                                <li><a href="photogallery.aspx"><img src="~/Content/Client/images/thumb-3.jpg" alt=""></a></li>
                                <li><a href="photogallery.aspx"><img src="~/Content/Client/images/thumb-4.jpg" alt=""></a></li>
                                <li><a href="photogallery.aspx"><img src="~/Content/Client/images/thumb-5.jpg" alt=""></a></li>
                                <li><a href="photogallery.aspx"><img src="~/Content/Client/images/thumb-6.jpg" alt=""></a></li>
                            </ul>
                            <a href="" class="el-btn-regular2" style="margin-top:10px">View Our Gallery</a>
                        </div>
                    </div>
                    <div class="widget footer-social">
                        <div class="widget-title">
                            <h2>Follow Us</h2>
                        </div>
                        <div class="widget-content">
                            <ul class="list-unstyled">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ends: .col-sm-3 -->
            </div>
        </div>
    </footer>
    <!-- ends: Footer -->
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-inner">
                <div class="row">
                    <div class="col-md-12 col-sm-12" align="center">
                        <p>&copy; Copyright @System.DateTime.Today.Year.ToString() HVM Convent Sr. Sec. School. All Rights Reserved. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="fixed_quote2"><a href=""><img src="~/Content/Client/images/admissions-open-tag.png"></a></div>*@
    <!--==================
            JS Files
        ===================-->
    <!-- jQuery -->
    <script src="~/Content/Client/js/assets/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/assets/vendor/jquery-1.12.0.min.js"><\/script>')</script>
    <!-- Bootstrap -->
    <script src="~/Content/Client/js/assets/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="~/Content/Client/js/assets/owl.carousel.min.js"></script>
    <!-- Revolution Slider -->
    <script src="~/Content/Client/js/assets/revolution/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/Client/js/assets/revolution/jquery.themepunch.tools.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Content/Client/js/assets/jquery.magnific-popup.min.js"></script>
    <!-- Countdown JS -->
    <script src="~/Content/Client/js/assets/jquery.syotimer.min.js"></script>
    <!-- Sticky JS -->
    <script src="~/Content/Client/js/assets/jquery.sticky.js"></script>
    <!-- Slick Carousel -->
    <script src="~/Content/Client/js/assets/slick.min.js"></script>
    <!-- Mean Menu -->
    <script src="~/Content/Client/js/assets/jquery.meanmenu.min.js"></script>
    <!-- Mail JS -->
    <script src="~/Content/Client/js/assets/mail.js"></script>
    <script src="~/Scripts/OurInfrastructure/OurInfrastruture.js"></script>
    <!-- Revolution Extensions -->
    <script type="text/javascript" src="~/Content/Client/js/assets/revolution/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Content/Client/js/assets/revolution/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/Client/js/assets/revolution/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/Content/Client/js/assets/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Content/Client/js/assets/revolution/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/Content/Client/js/assets/revolution/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Content/Client/js/assets/revolution/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/Content/Client/js/assets/revolution/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Content/Client/js/assets/revolution/extensions/revolution.extension.video.min.js"></script>
    <!-- Custom JS -->
    <script src="~/Content/Client/js/plugins.js"></script>
    <script src="~/Content/Client/js/custom.js"></script>
    <!-- =========================================================
             STYLE SWITCHER | ONLY FOR DEMO NOT INCLUDED IN MAIN FILES
        ============================================================== -->
    @RenderSection("scripts", required: false)
</body>
</html>