@model WebApplication.Core.Model.RecruitmentModel
<style>
    .text-red {
        color: red;
    }
    .col-md-offset-4 input {
        width: 50%;
    }

    .content-fee {
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 15px;
        margin-bottom: 20px;
        font-size: medium;
    }

    h1 {
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }

    .col-md-12 h3 {
        border: 1px solid;
        padding: 10px 0px 10px 35px;
        color: white;
        background: #c40e05;
    }

    .col-md-12 table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 15px;
    }

    thead tr th:first-child,
    tbody tr td:first-child {
        width: 16em;
    }
    .col-md-4 {
        width: 22%;
    }
    .col-md-6 {
        width: 70%;
    }
    .form-group {
        padding: 0px 10px 0px 20px;
    }
    @@media (max-width: 480px) {
        .col-md-4 {
            width: 50%;
        }
        .col-md-6 {
             width: 100%; 
        }
        .col-md-offset-4 input {
            width: 100%;
        }
        .col-md-push-10 img {
            width: 35px;
        }
    }
</style>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<link href="~/Content/Client/Index/Index.css" rel="stylesheet" />
<!--============================
        About Page Header
    =============================-->
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Recruitment Form</h1>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active">Recruitment Form</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Ends: .page-header -->
<!--============================
        About Page Content
    =============================-->
<section class="about-ds">
    <div class="container">
        <div class="row">
            @*<div class="col-md-3 col-sm-12 ">
                    @Html.Partial("~/Areas/Client/Views/Shared/_CircularsSidebar.cshtml", 12)
                </div>*@
            <div class="col-sm-12">
                <div>
                    <div style="text-align:center">

                        <h1><img class="col-md-push-10" src="~/Content/Client/images/logo-footer.png" /> H.V.M. CONVENT SR. SEC. SCHOOL, LUDHIANA</h1>
                        <h3>(AFFILIATED TO THE CENTRAL BOARD OF SECONDARY EDUCATION NEW DELHI)</h3>
                        <h6>AFFILIATION NO. 1630652, SCHOOL CODE 20632</h6>
                        <h6>Karamsar colony, New Subash Nagar, Basti Jodhewal, Ludhiana (Pb.) 141 008</h6>
                        <h6>Ph. No. : 98150-98888, 96460-98888, Website : www.hvmsrsecschool.org , Email : hvmconvent@gmail.com</h6>
                    </div>
                    <div class="box box-danger">
                        <div class="box-body">
                            @Html.Partial("_Alerts")
                            @using (Html.BeginForm("RecruitmentForm", "Admission", FormMethod.Post, htmlAttributes: new { Id = "Entry-form", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Full Name <span class="text-red">*</span> </label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.FullName)
                                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Male/Female <span class="text-red">*</span> </label>
                                                <div class="col-md-6">
                                                    @*@Html.EditorFor(model => model.Gender)*@
                                                    @Html.DropDownList("Gender", new List<SelectListItem>
                                                    {
                                                       new SelectListItem{ Text="Male", Value = "Male" },
                                                       new SelectListItem{ Text="Female", Value = "Female" },
                                                    }, new { @class = "form-control select2" })
                                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">DOB <span class="text-red">*</span> </label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { placeholder = "", @class = "form-control", @required = "required", @id = "DOB" } })
                                                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Address <span class="text-red">*</span> </label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { placeholder = "", @class = "form-control", @required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Email <span class="text-red">*</span> </label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "", @class = "form-control", @required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Contact <span class="text-red">*</span> </label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { placeholder = "", @class = "form-control", @required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Apply For <span class="text-red">*</span> </label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.ApplyFor, new { htmlAttributes = new { placeholder = "", @class = "form-control", @required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.ApplyFor, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Resume <span class="text-red">*</span> </label>
                                                <div class="col-md-6">
                                                    <input type="file" name="RecruitmentFile" id="RecruitmentFile" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-4 col-md-8">
                                                    <input type="submit" value="Submit" id="save" class="btn btn-primary" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content-wrapper -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/Admin/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Content/Admin/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script>
        $('#Entry-form').submit(function () {

            if ($('#Entry-form').valid()) {
                $('#save').prop('disabled', true);
            }
        });

        $(document).ready(function () {
            //Date picker
            $(':input').removeAttr('placeholder');
            $('#DOB').datepicker({
                format: 'dd MM, yyyy',
                autoclose: true
            });
        });
    </script>
}