@model IEnumerable<WebApplication.Core.Gallery>
@using System.Linq;
@using WebApplication.Infrastructure

@{
    var dbContext = Context.GetContainer().GetInstance<WebApplication.Service.IGalleryService>();
    var SessionName = Model.FirstOrDefault().SessionName;

}


<!--============================
        About Page Header
    =============================-->
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Photo Gallery</h1>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active">Photo Gallery</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Ends: .page-header -->
<!--============================
        About Page Content
    =============================-->
<section class="about-ds">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="gallery_bx_h2">
                    <div class="row">
                        <div class="col-md-12 col-sm-12" align="center">Photo Gallery Session @SessionName</div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="gallery_bx">
                    @foreach (var gallery in Model)
                    {
                        <div class="col-md-12 col-sm-12">
                            <h4>@gallery.Name</h4>

                        </div>
                        foreach (var photo in dbContext.GetGalleryPhotosByGalleryId(gallery.Id).Take(4))
                        {

                            <a class="fancybox" href="@photo.url" data-fancybox-group="gallery">
                                <img src="@photo.thumbnailUrl" border="0">
                            </a>
                        }
                        foreach (var video in dbContext.GetGalleryVideosByGalleryId(gallery.Id).Take(4))
                        {

                            <a class="fancybox" href="@video.url" data-fancybox-group="gallery">
                                <img src="@video.thumbnailUrl" border="0">
                            </a>
                        }
                        <div align="right" style="margin-right:20px;">
                            <a class="gary_btn" href="@Url.Action("Photos","Gallery",new {sessionName=SessionName,galleryId=gallery.Id })">View Gallery</a>
                        </div>
                        <div class="clear h10"></div>
                        <div class="dashed"></div>
                    }


                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <script>
        $(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;

                // Variables privadas
                var links = this.el.find('.link');
                // Evento
                links.on('click', { el: this.el, multiple: this.multiple }, this.dropdown)
            }

            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this),
                    $next = $this.next();

                $next.slideToggle();
                $this.parent().toggleClass('open');

                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                };
            }

            var accordion = new Accordion($('#accordion'), false);
        });
    </script>
    <!-- =========================================================
             STYLE SWITCHER | ONLY FOR DEMO NOT INCLUDED IN MAIN FILES
        ============================================================== -->
    <script type="text/javascript" src="~/Content/Client/js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/Content/Client/js/fancybox/fancybox.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Client/js/fancybox/jquery.fancybox.css" media="screen" />
}