@model IEnumerable<WebApplication.Models.CircularsModel>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<style>
    .sessionDD {
        padding: 10px;
        /*text-align: center;*/
    }

        .sessionDD > select {
            height: 40px;
            width: 200px;
            margin: 10px 15px 15px 15px;
        }
</style>
<!--============================
        About Page Header
    =============================-->
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>School Circulars</h1>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active">School Circulars</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Ends: .page-header -->
<!--============================
        About Page Content
    =============================-->
<section class="about-ds">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 ">
                @Html.Partial("~/Areas/Client/Views/Shared/_CircularsSidebar.cshtml", 12)
            </div>
            <div class="col-md-9 col-sm-12 sessionDD">
                <h2>School Circulars</h2>
                @if (ViewBag.SessionList != null)
                {
                    @Html.DropDownList("sessionId", ((List<SelectListItem>)ViewBag.SessionList).Select(item => new SelectListItem
                    {
                      Value = item.Value.ToString(),
                      Text = item.Text.ToString(),
                      Selected = item.Text == ViewBag.SelectedYear ? true : false
                    }), "Please select the session");
                    //@Html.DropDownList("sessionId", (List<SelectListItem>)ViewBag.SessionList, "Please select the session", new { @id = "sessionId" });
                }
                <div class="col-md-12">
                    <table class="table table-hover table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Title </th>
                                <th>Date</th>
                                <th>Download </th>
                                <th>View</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr><td>@item.Title</td><td>@item.ModifyByDate.ToShortDateString()</td><td><span><a target="_self" href="~/Content/files/circulars/@item.FileName">Download</a></span></td><td><span><a target="_blank" href="~/Content/files/circulars/@item.FileName">View</a></span></td></tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $("body").on("change", "#sessionId", function () {
        var query = new URLSearchParams();
        query.append("year", $(this).val());
        window.location.href =
            "http://" +
            window.location.host +
            window.location.pathname +
            '?' + query;
    });    
</script>