@model IEnumerable<WebApplication.Models.TransferCertificateModel>
<!--============================
        About Page Header
    =============================-->
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Transfer Certificate </h1>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active">Transfer Certificate </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Ends: .page-header -->
<!--============================
        About Page Content
    =============================-->
<section class="blog-wrapper blog">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 ">
                @Html.Partial("~/Areas/Client/Views/Shared/_FaculitySidebar.cshtml", 3)
            </div>
            <div class="col-md-9 col-sm-8 ">
                <div class="forum-wrapper">
                    @*<div class="forum-search">
                        <div class="col-sm-3 pad_zero">
                            <p class="justify">Enter Admission Number *</p>
                        </div>
                        <div class="col-sm-6">
                            <form action="#">
                                <input type="text" id="txt_search" placeholder="Enter Admission Number">
                                <button type="submit"><i class="fa fa-text"></i></button>
                            </form>
                        </div>
                        <div class="col-md-2 col-sm-8"> <a href="" onclick="this.href='transfer-certificate?text='+document.getElementById('txt_search').value" class="el-btn-medium">Search</a> </div>
                        <div class="h20"></div>
                    </div>*@
                    <!-- Ends: .forum-search -->
                    <!-- Ends: .forum-header -->
                    <!-- Ends: .forum-content -->
                </div>
                <div class="clear h50"></div>
                <div class="col-md-12">
                    <table class="table table-hover table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Student Name </th>
                                <th>Class</th>
                                <th>Admission Number</th>
                                <th>Download </th>
                                <th>View</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr><td>@item.StudentName</td><td>@item.ClassName</td><td>@item.AdmissionNumber</td><td><span><a target="_self" href="~/Content/files/downloads/@item.FileName">Download</a></span></td><td><span><a target="_blank" href="~/Content/files/downloads/@item.FileName">View</a></span></td></tr>                           
                        }
                    </table>
                </div>
            </div>
            <!-- Ends: .col-md-9/.col-sm-8 -->
            <!-- Ends: .col-sm-3 -->
        </div>
    </div>
</section>