@model IEnumerable<WebApplication.Models.NewsModel>

@section seo
{
}
<!--============================
       About Page Header
   =============================-->
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>News</h1>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active">News</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Ends: .page-header -->
<!--============================
        About Page Content
    =============================-->
<section class="about-ds">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                @foreach (var item in Model)
                {
                    <h2><a href="@Url.Action("NewsDetails", "Home", new{token=item.Key, Area="Client"})" target="_blank">@item.Title</a></h2>
                    <a href="~/Content/files/News/@item.FileName" target="_blank">@item.ShortDescription</a>
                    <span>@Html.Raw(item.Description)</span> <br />
                    <div class="clear h10">&nbsp;</div>
                    <div class="dashed">&nbsp;</div>
                    <div class="clear h20">&nbsp;</div>


                }
            </div>

        </div>
    </div>
</section>