@model WebApplication.Models.FileTypeModel

@{
    ViewBag.Title = "Datesheet";
    ViewBag.SubTitle = "Edit";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Datesheet</a></li>
            <li><a href="#">    @ViewBag.SubTitle</a></li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Datesheet</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index","Datesheet")'">Back To List</button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            @Html.Partial("_Alerts")
                            @using (Html.BeginForm("Edit", "Datesheet", FormMethod.Post, htmlAttributes: new { Id = "Entry-form", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.Id)
                                <div class="col-md-12">
                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Date <span class="text-red">*</span> </label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.Session)
                                                @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">File </label>
                                            <div class="col-md-6">
                                                @Html.TextBox("file", null, new { @class = "form-control", type = "file" })
                                                @Html.HiddenFor(model => model.FileName)
                                                @if (!string.IsNullOrEmpty(Model.FileName))
                                                {
                                                    <span><a target="_blank" href="~/Content/files/datesheet/@Model.FileName">Download</a></span> <span style="margin-left:10px">@Html.EditorFor(model => model.IsRemoveFile) Remove</span>

                                                }
                                                @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Is Publish <span class="text-red">*</span> </label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.IsActive)
                                                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-4 col-md-8">
                                                <input type="submit" value="Save" id="save" class="btn bg-olive btn-flat margin" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/Admin/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Content/Admin/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script>

        $('#Entry-form').submit(function () {
            if ($('#Entry-form').valid()) {
                $('#save').prop('disabled', true);
            }
        });
    </script>
}